

<div class="col">
    <div class="row">
        <form>
           <div class="d-flex">
            
                <span class="p-float-label">
                    <input id="Nombre" type="text" pInputText > 
                    <label for="Nombre">Nombre</label>
                </span>

                <span class="p-float-label">
                    <input id="Identificacion" type="text" pInputText > 
                    <label for="Identificacion">Identificacion</label>
                </span>

                <span class="p-float-label">
                    <input id="EPS" type="text" pInputText > 
                    <label for="EPS">EPS</label>
                </span>
            
           </div>  
        </form>
    </div>

</div>
