<div  style="height: 100%; margin-top: 200px;">
<div class="col-12">
<div class="row text-center ">
    <h1>Sistema de administracion de resultados de ecocardiograma</h1>
    <h2>SARE</h2>
</div>
<div class="d-flex justify-content-center">
<form action="">
    <div class="row m-4">
        <span class="p-float-label">
            <input id="float-input" type="text" pInputText> 
            <label for="float-input">Usuario</label>
        </span>
    </div>
    <div class="row m-4">
        <span class="p-float-label">
            <input id="float-input" type="text" pInputText> 
            <label for="float-input">Contraseña</label>
        </span>
    </div>
    <div class="row m-4">
        <a href="#">¿Olvido su contraseña?</a>
    </div>
    <div class="row m-4">
        <button pButton type="button" label="Ingresar"></button>
    </div>
</form>
</div>
</div>
</div>

<app-footer></app-footer>