<div class="col-4" style="margin: auto ; margin-top: 200px;">
    <div class="d-flex flex-column justify-content-evenly m-4">
        <button pButton type="button" label="Pacientes" class=" p-button-lg mt-4"
            (click)="navegar('paciente')"></button>
        <button pButton type="button" label="Examenes" class="  p-button-lg mt-4" (click)="navegar('examen')"></button>
        <button pButton type="button" label="Administracion" class=" p-button-lg mt-4"
            (click)="navegar('admin')"></button>
    </div>

</div>
    <app-footer></app-footer>